body{    
    font-family: 'Teko', sans-serif;
    font-weight: 100;
    background-color: black;  
}

h2{
    font-size: 5vw;
    font-weight: 100;
    color: aqua;
}

#container{
display:flex;
justify-content: space-around;
text-align: center;
}

.answerBox{
border-radius: 50%;
background-color: aqua;
height: 15vw;
width: 15vw;
margin:auto;
line-height: 15vw;
font-size: 2vw;
}

@media screen and (max-width: 600px) {
    #container {
      flex-direction: column;
    }
  }