body{    
    font-family: 'Teko', sans-serif;
    font-weight: 100;
    background-color: black;

    
}

h2{
    font-size: 5vw;
    font-weight: 100;
    color: aqua;
}

.containerBox{
/* border:red solid; */
text-align: center;



}

#container{
display:flex;
justify-content: space-around;





}

.answerBox{
border-radius: 50%;
background-color: aqua;
height: 15vw;
width: 15vw;
margin:auto;
/* margin-top:50%; */
/* vertical-align: middle; */
/* border:green solid; */
line-height: 15vw;
font-size: 4vw;
}

@media screen and (max-width: 600px) {
    #container {
      flex-direction: column;
    }
  }